// mystyle.styl，配置了一些个人风格的内容

/* 文字高亮
<span class="highlight">内容</span>
*/
.highlight {
  background-color: yellow;
  padding: 0 4px;
  border-radius: 2px;
}

/* 设置行间距 */
.post-body
  line-height: 1.6

/* 引入 Maple Mono 字体 */ 
@font-face {
  font-family: 'Maple Mono';
  src: url('/fonts/MapleMono/MapleMono-NF-CN-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'Maple Mono';
  src: url('/fonts/MapleMono/MapleMono-NF-CN-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0020-007E;
}